div, header, footer, main, nav {
    box-sizing: border-box; /* para que los bordes, paddings estÃŠn en la anchura (determinada por col) */
    background-color: rgb(246, 207, 52);
    
    border-style: dashed;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
}

.container {
    background-color: lightslategray;
}
