header, footer {
    background-color: rgba(48, 48, 48, 0.679);
}

.navbar-brand img {
    height: 30px;
}
/* Hemos dado prioridad a la altura, la anchura se calcula automÃ¡ticamente para
respetar la proporciÃ³n. Centramos la imagen */
.carousel-item {
    text-align: center;
}
.carousel-inner img {
    width: auto;
    max-height: 400px;
}


main {
    background-color: rgba(48, 48, 48, 0.679);
}
body{
    background-color: rgb(48, 48, 48);
}
.carousel-control-next-icon{
    color: ;
}
.container-fluid{
    color: white;
}
}

ul {
    list-style-type: none; 
    padding-left: 0;
}

li {
    margin-top: 30px;    
}
.navbar-toggler-icon{
    color: burlywood;
}
